.header-logo {
  display: flex;
  color: #000000;
}
.header-icon {
  font-size: 50px;
  padding: 0 10px;
}
.login-section {
  display: flex;
  justify-content: flex-end;
}

.shop-card {
  margin-left: 10px;
  font-size: 50px;
  color: #000000;
}
