<div class="registration-form">
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">First Name</span>
    </div>
    <input class="form-control ng-untouched ng-pristine ng-invalid" maxlength="49" minlength="4" type="text" [(ngModel)]="registrationData.firstName" #firstName="ngModel" required>
    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
      Name is required.
    </div>
  </div>
  <div class="input-group input-group-sm mb-3"><div class="input-group-prepend">
    <span class="input-group-text">Last Name</span>
  </div>
    <input class="form-control ng-pristine ng-invalid ng-touched" maxlength="49" required type="text" [(ngModel)]="registrationData.lastName">
  </div>
  <div class="input-group input-group-sm mb-3"><div class="input-group-prepend">
    <span  class="input-group-text">Address</span>
  </div>
    <input class="form-control ng-untouched ng-pristine ng-invalid" maxlength="49" required type="text" [(ngModel)]="registrationData.address">
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">City</span>
    </div>
    <input class="form-control ng-pristine ng-valid ng-touched" maxlength="49" type="text" [(ngModel)]="registrationData.city">
  </div>
  <div class="input-group input-group-sm mb-3"><div class="input-group-prepend">
    <span class="input-group-text">Country</span>
  </div>
    <input class="form-control ng-untouched ng-pristine ng-valid" maxlength="49" type="text" [(ngModel)]="registrationData.country">
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Email</span>
    </div>
    <input class="form-control ng-untouched ng-pristine ng-invalid" maxlength="49" type="email" [(ngModel)]="registrationData.email">
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Phone</span>
    </div>
    <input class="form-control ng-untouched ng-pristine ng-valid" maxlength="49" type="text" [(ngModel)]="registrationData.phone">
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Postal Code</span>
    </div>
    <input class="form-control ng-untouched ng-pristine ng-valid" maxlength="49" type="text" [(ngModel)]="registrationData.postalCode">
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">State</span>
    </div>
    <input class="form-control ng-untouched ng-pristine ng-valid" maxlength="49" type="text">
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">User Name</span>
    </div>
    <input class="form-control ng-untouched ng-pristine ng-invalid" maxlength="49" type="text" [(ngModel)]="registrationData.userName">
  </div>
  <div class="input-group input-group-sm mb-3"><div class="input-group-prepend">
    <span class="input-group-text">Password</span>
  </div>
    <input class="form-control ng-untouched ng-pristine ng-invalid" maxlength="49" type="password" [(ngModel)]="registrationData.password">
  </div>
  <button class="btn btn-primary" (click)="createUser()" >Register</button>
</div>

